<h1>New Idea</h1>

<%= simple_form_for @idea, url: ideas_path do |f| %>
  <%= f.input :idea_img, as: :file %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.button :submit %>
  <% end %>

<%= link_to 'Back', ideas_path %>
